.col-md-4
  =form_for(@user) do |f|
    =f.label :name
    .input-small=f.text_field :name
    %br
    =f.label :email
    .input-small=f.text_field :email
    %br
    -if current_user.role == 0 and @user != current_user
      =f.label "Nivel de permisos"
      .input-small
        %select(name="user[role]")
          %option(value=1) Supervisor
          -if @user.role == 2
            %option(value=2 selected) User
          -else
            %option(value=2) User
      %br
      =f.label "Supervisor"
      .input-small
      %select(name="user[supervisor_id]")
        -@supervisor_candidates.each do |u|
          -if u.name != nil
            %option{:value => u.id}=u.name
          -else
            %option{:value => u.id}=u.email
    %br
    %br
    =f.submit "Guardar cambios", class: "btn btn-large btn-primary" 
.row
