.container
  .col-md-8
    %h1
      -if !@user.name.nil? 
        Nombre: 
        =@user.name 
    %h4
      Nivel de permisos:
      =@user.role_s
    -if @user.user
      %h4 
        Supervisor asignado: 
        %span= link_to @user.user.name, @user.user
    -if current_user.role < 2 and !@events.empty?
      %br
      %br
      %h4 Reuniones de este usuario
      -@events.each do |e|
        =render e

    -if current_user.role < 2
      %br
      %br
      %h4 Editar Usuario:
      =render 'form'
