%h1= "Editar Cliente"
=form_for(@customer) do |f|
  =f.label :name
  =f.text_field :name
  =f.label :address
  =f.text_field :address
  =f.submit "Guardar cambios", class: "btn btn-large btn-primary" 
