=form_for(@customer) do |f|
  =f.label :name
  .input-small=f.text_field :name
  =f.label :address
  .input-small=f.text_field :address
  %br
  =f.submit "Guardar cambios", class: "btn btn-large btn-primary" 
