#map-canvas.mapa{:frameborder => "0", :style => "border:0;width:100%;height:300px"}
%section
  .container
    .row.cabecera
      .col-md-3
        %h1 Clientes
      .col-md-6
        %ol.breadcrumb
          %li
            %a{:href => "index.html"} Inicio
          %li.active Clientes
      .col-md-3
        =link_to new_customer_path do
          %button.btn.btn-sm
            %span Agregar Cliente
            %span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
    .row
      %table#example.display{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Nombre Empresa
            %th Direcci贸n
            %th Ver ubicaci贸n
            %th Modificar
            %th Desactivar
        %tfoot
          %tr
            %th Nombre Empresa
            %th Direcci贸n
            %th Ver ubicaci贸n
            %th Modificar
            %th Desactivar
        %tbody
          -@customers.each do |customer|
            %tr
              %td=customer.name
              %td=customer.address
              %td.centrar
                =link_to customer_path(customer) do
                  %button
                    Ver
              %td.centrar
                =link_to edit_customer_path(customer) do
                  %button
                    Modificar
              %td.centrar
                %input#blankCheckbox{"aria-label" => "...", :type => "checkbox", :value => "option1"}/

:javascript
  function initialize() {
    var locations = JSON.parse('#{@locs.to_json}')
    var mapOptions = {
      zoom: 12,
      center: new google.maps.LatLng(locations[0][1],locations[0][2])
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  var marker,i;
  for (i = 0;i < locations.length;i++){
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1],locations[i][2]),
      map: map,
      title: locations[i][0]
    });
    }
  }
  google.maps.event.addDomListener(window, 'load', initialize);
