%h1=@customer.name
=@customer.address
%h3 
  Contactos
-@customer.contacts.each do |c|
  =c.name
  =link_to("Agendar evento","/events/new")

#map-canvas{:style => "height:400px;margin:0px;padding:0px;"}
  %nbsp
:javascript
  function initialize() {
    var location = new google.maps.LatLng(#{@customer.latitude},#{@customer.longitude})
    var mapOptions = {
      zoom: 14,
      center: location
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  var marker = new google.maps.Marker({
    position: location,
    map: map,
    title: "#{@customer.name}"
  });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
