.container.col-md-4(style="margin-top:50px;")
  - @contacts.each do |contact|
    .contact-name=link_to(contact.name,url_for(contact))
    .contact-address=contact.name
    .contact-events
      =contact.events.each do |e|
        .event
          .event-date=e.date
          .event-type=e.event_type
          .event-user=e.user.name
          .event-contact=e.contact.name

