%h1 Contactos
.container.col-md-4(style="margin-top:50px;")
    
  - @contacts.each do |contact|
    .contact{style: "margin-bottom:30px;background:#ddd;padding:15px;"}
      %h4 Nombre:
      .contact-name=link_to(contact.name,url_for(contact))
      %h4 Direccion:
      .contact-address=contact.customer.address
      %br
      -if !contact.events.empty?
        %h4 Eventos:
        .contact-events
          -contact.events.each do |e|
            .event
              .event-date=e.date
              .event-type=e.event_type
              .event-user=e.user.name
              .event-contact=e.contact.name
.row
