%footer
  .container_12
    .grid_12
      .copy
        %a{href: "#", onclick: "goToByScroll('page1'); return false;"}
          %img{alt: "", src: "http://geoclientes.com/images/footer_logo.png"}/
        © 2013 |
        %a{href: "#"} Privacy Policy
        %br/
    .clear
