%footer
  .container
    .col-md-6
      .row
        %a{:href => "#"} Acerca de Geo Clientes
    .col-md-6.copy
      .row
        © 2014 Geo Clientes, todos los derechos reservados.
=javascript_include_tag("jquery.min")
=javascript_include_tag("bootstrap.min")
