%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
      %a.navbar-brand(style="height:80px;" href="/")
        %img(src="http://geoclientes.com/images/logo.png")
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav{:style => "margin-top:15px;"}
        %li.active.menu-customers
          %a{href: "/customers"} Clientes
        %li.menu-events
          %a{href: "/events"} Eventos
        %li.menu-contacts
          %a{href: "/contacts"} Contactos
        %li{style: "margin-left:480px;"}
          -if !current_admin_user.nil?
            %a{href:"admin_users/"+current_admin_user.id.to_s}=current_admin_user.email
            %li{style: "font-size:smaller;"}= link_to('[Logout]', destroy_admin_user_session_path, :method => :delete)
          -elsif current_user.nil? && current_supervisor.nil?
            %a{href: "/users/sign_in"} Ingresar
          -else
            -if !current_user.nil?
              %a{href:"users/"+current_user.id.to_s}=current_user.email
              %li{style: "font-size:smaller;"}= link_to('[Logout]', destroy_user_session_path, :method => :delete)
            -elsif !current_supervisor.nil?
              %a{href:"supervisors/"+current_supervisor.id.to_s}=current_supervisor.email
              %li{style: "font-size:smaller;"}= link_to('[Logout]', destroy_supervisor_session_path, :method => :delete)
    .navbar-collapse
