%header.page1
  .container_12
    .grid_12
      %h1
        %a{href: "/"}
          %img{alt: "Geoclientes", src: "http://geoclientes.com/images/logo.png"}/
.menu_block
  %nav
    %ul.sf-menu
      %li.men1
        %a{href: "/"} Inicio
        %strong.hover
      %li.current.men
        %a{href: "customers"} Clientes
        %strong.hover
      %li.men2
        %a{href: "events"} Eventos 
        %strong.hover
      %li.men3
        %a{href: "contacts"} Contactos
        %strong.hover
    .clear
.clear
