%header
  .container
    .row
      .col-md-7
        .row
          %a{:href => "/"}
            =image_tag("logo.png")
      .login
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .col-md-2
            %input.form-control.input-sm{:autofocus => "", :placeholder => "Usuario", :required => "", :type => "text", :name => "email"}
          .col-md-2
            %input.form-control.input-sm{:placeholder => "Contraseña", :required => "", :type => "text", :name => "password"}
          .col-md-1
            .row
              %button.btn.btn-sm.btn-success{:type => "submit"} Iniciar Sesión
              %span
          - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
            = link_to "Olvidaste tu contraseña?", new_password_path(resource_name)

