%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
      %a.navbar-brand(style="height:80px;" href="/")
        %img(src="http://geoclientes.com/images/logo.png")
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav{:style => "margin-top:15px;"}
        -if !current_user.nil? 
          -if current_user.role < 2
            %li.menu-customers
              %a{href: "/users"} Usuarios
          %li.menu-customers
            %a{href: "/customers"} Clientes
          %li.menu-contacts
            %a{href: "/contacts"} Contactos
          %li.menu-events
            %a{href: "/events"} Eventos
      %ul.nav.navbar-nav.navbar-right{:style => "margin-top:15px;"}
        -if current_user.nil?
          %li
            %a{href: "/users/sign_in"} Ingresar
        -else
          %li
            %a{href:"users/"+current_user.id.to_s}=current_user.email
            -if current_user.role == 0
              %li{style: "font-size:smaller;color:red;margin-top:18px"} (Admin)
            -if current_user.role == 1
              %li{style: "font-size:smaller;color:blue;margin-top:18px"} (Supervisor)
            %li{style: "font-size:smaller;"}= link_to('[Logout]', destroy_user_session_path, :method => :delete)
    .navbar-collapse
